node_modules
node_modules/**/*
.pnpm-store
dist
build
.next
out
.git
.github
.husky
coverage
*.log
.env
.env.*
!.env.example
.vscode
.idea
*.swp
*.swo
.DS_Store
Thumbs.db
docker-compose.yml
Dockerfile*
.dockerignore
README.md
docs/
infra/
tools/
packages/shared/src
packages/database/prisma
pnpm-lock.yaml
